body {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

header {
  width: 100%
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.4em;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

.pokemon {
  background-color: #E3E3E3;
  border: 4px solid #000000;
}

.name,
.species {
  text-align: center;
}

.sprite {
    height: 100px;
}

.abilities {
  margin: 30px 25px;
  height: 160px;
}

.abilities h3 {
  padding-left: 60px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}

.abilities ul {
  list-style-type: none;
  margin-left: 15px;
}

.abilities li {
  padding: 5px;
}

button {
  background-color: #EA0041;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  box-shadow: none;
  margin: 50px auto;
  display: block;
}
